* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, rgba(50, 50, 50, 0.5), black );
}
.btnGo{
    content: '';
}
.search {
    background: rgba(50, 50, 50, 0.5);
    width: 250px;
    height: 40px;
    margin-right: 50px;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 16px;
    transition: 0.5s;
}
input[type="search"]::-webkit-search-cancel-button{
   -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: url(./assets/svg/close.svg);
    filter: invert(1);
    cursor: pointer;
}

.search:hover {
    transition: 0.5s;
    filter: drop-shadow(0 0 5px white);
    background: rgb(50, 50, 50);

}
.search:focus {
    background: rgba(0, 0, 0, 1);
    outline: none; /* Убираем обводку при фокусе input */
}
::placeholder {
    color: rgb(120, 120, 120);
}

/* MAIN */

.background {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 1rem;
    width: auto;
    padding: 20px;
    padding-bottom: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    background: #333;
    box-shadow: 0 0 15px 10px black;
    margin: 25px 0;
    border-radius: 5px;
    overflow: hidden;
}
.poster{
    width: 300px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sp-title {
    width: 210px;
    font-size: 24px;
    color: white;
    padding: 10px;
}
.vote {
    width: 50px;
    height: 50px;
    margin: 20px;
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
}
.overview {
    width: 300px;
    max-height: 100%;
    background: white;
    font-size: 20px;
    padding: 10px;
    color: black;
    position: absolute;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    bottom: 0;
    transform: translateY(100%);
    overflow-y: auto;
    transition: transform 0.5s ;
    
}

.card:hover .overview {
    transform: translateY(0);
  }


 /* FOOTER */

.glass {
    position: absolute;
    z-index: 1;
    left: auto; right: auto;
    bottom: 58px;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0; right: 0;
    bottom: 0;
    box-shadow: 5px 0 20px 10px black;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
}
.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.imgGit {
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.imgGit:hover {
    box-shadow: 0 0 10px 0px white;
}
.imgRsSchool {
    filter: invert(1);
    width: 100px;
    cursor: pointer;
    transition: 0.4s;
}
.imgRsSchool:hover {
    filter:drop-shadow(0 0 10px black) invert(1);
}